@model CookeryApp.Models.PurchaseVM

<!--content-->
<div class="blog">
    <div class="container">
        <div class="col-md-12 ">
            <div class="single">
                <div class="single-top">
                    <div class="form-group">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" src="@Model.events.ImageURL" alt="" />
                            </div>
                            <div class="leave col-md-6">
                                @using (Html.BeginForm("Purchase", "Home"))
                                {
                                    <h3>Compre agora o evento: @Html.DisplayFor(m => m.events.Title) por apenas @Html.DisplayFor(m => m.events.Price).</h3>

                                    @Html.HiddenFor(m => m.events.Id)
                                    @Html.AntiForgeryToken()

                                    <div class="single-grid wow fadeInLeft animated" data-wow-delay=".5s">

                                        @Html.EditorFor(m => m.ticket.FName, new { htmlattributes = new { @class = "", @type = "text", value = "Name", onfocus = "this.value='';", @onblur = "if (this.value == '') {this.value = 'Name';}", placeholder = "Primeiro nome" } })
                                        @Html.ValidationMessageFor(m => m.ticket.FName, null, new { htmlattributes = new { @class = "text-danger" } })

                                        @Html.EditorFor(m => m.ticket.LName, new { htmlattributes = new { @class = "", @type = "text", value = "Name", onfocus = "this.value='';", @onblur = "if (this.value == '') {this.value = 'Name';}", placeholder = "Segundo nome" } })
                                        @Html.ValidationMessageFor(m => m.ticket.LName, null, new { htmlattributes = new { @class = "text-danger" } })

                                        @Html.EditorFor(m => m.ticket.Email, new { htmlattributes = new { @class = "", @type = "text", value = "Name", onfocus = "this.value='';", @onblur = "if (this.value == '') {this.value = 'Name';}", placeholder = "E-mail" } })
                                        @Html.ValidationMessageFor(m => m.ticket.Email, null, new { htmlattributes = new { @class = "text-danger" } })

                                        <label class="hvr-rectangle-out">
                                            <input class="btn-block" type="submit" value="COMPRAR">
                                        </label>
                                    </div>
                                }
                            </div>
                            <hr />
                        </div>
                    </div>                  
                    <div class="lone-line">
                        <h4>@Html.DisplayFor(m => m.events.Title)</h4>
                        <ul class="grid-blog">
                            <li><span><i class="glyphicon glyphicon-time"> </i>08.09.2014</span></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"> </i>5 Comment</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-share"> </i>Share</a></li>
                        </ul>
                        <p class="wow fadeInLeft animated" data-wow-delay=".5s">
                            @Html.DisplayFor(m => m.events.LongDescription)
                        </p>
                    </div>
                </div>

                <div class="comment">
                    <h3>Comments</h3>
                    <div class="media wow fadeInLeft animated" data-wow-delay=".5s">
                        <div class="code-in">
                            <p class="smith"><a href="#">Andey</a> <span>02 June 2014, 15:20</span></p>
                            <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img src="~/images/si1.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                    <div class="media media-1 wow fadeInUp animated" data-wow-delay=".5s">
                        <div class="code-in">
                            <p class="smith"><a href="#"> Rackham</a> <span>02 June 2014, 15:20</span></p>
                            <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img src="~/images/si.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                    <div class="media wow fadeInRight animated" data-wow-delay=".5s">
                        <div class="code-in">
                            <p class="smith"><a href="#">Clara</a> <span>02 June 2014, 15:20</span></p>
                            <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img src="~/images/si2.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!---->
<!--//content-->
